html{
margin: 0;
padding: 0;
width: 100vw;
overflow-x: hidden;


}

body{
  margin: 0;
  padding: 0 0 150px 0;
  width:100vw;
  /* background-color: #EAEAEA; */
  overflow-x: hidden;

}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1{
  font-size: 50px;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: white;
}

h2{
  font-size: 34px;
  font-family: "Kanit", sans-serif;
      font-weight: 400;
      font-style: italic;
  text-align: left;
    color: black;

}

h4{
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
    color: white;
}

p{
  padding:0px;
  margin: 0px;
}

.p1{
  font-size: 24px;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  text-align: left;
    color: black;
}


.spacer{
  height: 50px;
}
.spacersml{
  min-height:20px;
}







/* ////////////////// SVG ANIMATE //////////////////// */

.width1{
  width: 80vw;
}
.width2{
  width: 50vw;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  TEXT HEADINGS AND FONTS AND BUTTONS ||\\\\\\\\\\\\\\\\\\\\\\\\\ */





.button_request{
  color: white;
  background-color: #22313F;
  font-size: 32px;
  font-weight: 600;
  border-radius: 35px;
  font-style: italic;
  font-weight: 400;
  width: 250px;
  font-family: "Open-Sans", sans-serif;
  margin: 0 auto 0 auto;
  text-align: center;
}

.buttoncopy{
  background-color: #22313F ;
  border-radius: 50px;
  border-style: none;
  width:150px;
  color: white;
}

.inputcopy{
    border-style: none;
}




/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\   IMAGES AND BACKGROUNDS  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.background1{
  height: 100vh;
  background-image: linear-gradient(180deg, #22313F 70%, white calc(70% + 2px));
}

.background2{
  padding-top: 50px;
  padding-bottom: 150px;
  width: 100vw;
  background-color:#22313F;
clip-path: polygon(0 9%, 100% 0%, 100% 91%, 0% 100%);
}


.img1{
  width:500px;
}
.img2{
    width:500px;
    margin: 0 auto 0 auto;
}

.img3{
  height: 100px;
  margin: 0 auto 0 auto;
}
.img4{
  width: 100vw;
}

.img5{
  width:0;
}
.img6{
  width: 80vw;
}

.img7{
  width: 450px;
  margin: 0 auto 0 auto;
}

.img8{
  height: 300px;
  margin: 0 auto 0 auto;
}
.w{
  color: white;
}

.map{
  width:300px;
  height:300px;
}













/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\NAVBAR\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.navbar{
  background-color: #22313F;
}




/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\     ANIMATE   v\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */





/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\   Containers\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */



.flex_box{
  position: relative;
  overflow: hidden;
    display: flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: space-around;
  margin: 0 auto 0 auto;
  width:100vw;
  min-height: 10px;
  /* border: 3px solid #73AD21; */
}
.flex_column{
  flex-direction: column;
}


.flex_item{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:center;
  max-width: 80vw;
  min-width: 500px;
  min-height: 500px;
  /* border: 3px solid #73AD21; */
}


.flex_box_icon{
  position: relative;
    display: flex;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto 0 auto;
  width:100vw;
}

.flex_icon{
  position: relative;
  display: flex;
  flex-direction: column;
  width:25vw;
  min-width: 300px;
  min-height: 200px;
  /* border: 3px solid #73AD21; */
}




/* ////////////////////   MOBILE //////////////////////// */

@media (max-width: 800px){

h1{
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 0 5px 0 5px;
}

h2{
  font-size: 30px;
}
.p1{
  line-height:30px;;
}

  .img1{
    width:80vw;
  }
  .img2{
    width:80vw;
  }

  .img4{
    height: 0px;
  }
  .img5{
    width:80vw;
  }
  .img6{
    height:0;
  }

  .img7{
    width: 100vw;
  }
  .map{
    width:75vw;
     height:300px;
     margin: 0 auto 0 auto;
  }
  .flex_box{
    justify-content:flex-start;
  }
  .flex_item{
    width: 95vw;
    min-width: 0;
    min-height: 0;
  }

}





































/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\LOADER\\\\\\\\\\\\\\\\\ */



.loader{
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #212121;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: loaderfade 0.5s ease-in 2.2s forwards;
}
@keyframes loaderfade {
  from{opacity: 1;}
  to{opacity: 0; z-index: -5;}
}

.loader_svg path:nth-child(1){
 stroke-dasharray: 2600px;
 stroke-dashoffset: 2600px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(2){
 stroke-dasharray: 1500px;
 stroke-dashoffset: 1500px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(3){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(4){
 stroke-dasharray: 1600px;
 stroke-dashoffset: 1600px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(5){
 stroke-dasharray: 1500px;
 stroke-dashoffset: 1500px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(6){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(7){
 stroke-dasharray: 1200px;
 stroke-dashoffset: 1200px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(8){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(9){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(10){
 stroke-dasharray: 1500px;
 stroke-dashoffset: 1500px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(11){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(12){
 stroke-dasharray: 1600px;
 stroke-dashoffset: 1600px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(13){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(14){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(15){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(16){
 stroke-dasharray: 3700px;
 stroke-dashoffset: 3700px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(17){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(18){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(19){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(20){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(21){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(22){
 stroke-dasharray: 1500px;
 stroke-dashoffset: 1500px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(23){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(24){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(25){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(26){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(27){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(28){
 stroke-dasharray: 1500px;
 stroke-dashoffset: 1500px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(29){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}
.loader_svg path:nth-child(30){
 stroke-dasharray: 1000px;
 stroke-dashoffset: 1000px;
 animation: comm 2.5s ease-in-out 0.2s forwards;
}

@keyframes comm {
  to{stroke-dashoffset:0px;}
}
